.parent{
    width: 400px;
    height: 480px;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin: 125px auto;
    padding: 32px;
    box-sizing: border-box;
    .logo{
        width: 100%;
        height: 70px;
        margin-bottom: 10px;
        text-align: center;

        a>img{
            object-fit: cover;
            height: 100%;
        }
    }
    .section2{
        width: 100%;
        height: 40px;
        h4{
            font-family: IranYekan;
            color: #323232;
            line-height: 2.1;
            font-size: 19px;
            margin-top: 28px;
        }
    }
    .section3{
        width: 100%;
        .p1 , .p2{
            font-family: IranYekan;
            font-weight: 400;
            font-size: 12px;
            color: #3f4064;
            line-height: 2.2;
        }
        .p1{
            margin-top: 16px;
        }
        .p2{
            margin-bottom: 16px;
        }
    }

    .form{
        width: 100%;
        form{
            width: 100%;
            display: flex;
            flex-flow: column;
            gap: 35px;
            
            input[type=text]{
                all: unset;
                width: 100%;
                height: 48px;
                border: 1px solid #19bfd3;
                border-radius: 5px;
                padding: 20px 8px;
                box-sizing: border-box;
                font-family: IranYekan;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 2.15;
                caret-color: #19bfd3;
            }
          input[type=submit]{
                all: unset;
                width: 100%;
                height: 48px;
                text-align: center;
                background-color: #ef4056;
                border-radius: 5px;
                font-family: IranYekan ;
                color: rgb(255, 255, 255);
                font-size: 14px;
                font-weight: 400;
                line-height: 2.15;
                cursor: pointer;
          }   
        }
        
    }
    .caption{
        width: 100%;
        margin-top: 16px;
        p{
            width: 100%;
            font-family: IranYekan;
            color: #3f4064;
            font-size: 11px;
            font-weight: 400;
            a{
            text-decoration: none;
            width: 100%;
            font-family: IranYekan;
            color: #008eb2;
            font-size: 11px;
            font-weight: 400;
            line-height: 2.17;
            cursor: pointer;

            }
        }
    }
}